<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<link media="all" type="text/css" rel="stylesheet" href="typo3conf/ext/mn_linkedin/Resources/Public/Css/mn_linkedin.css" />

<script type="text/javascript">
 
    function loadData() {
        loadProfileData();
        loadConnectionsData();
        loadStreamData();
    }
 
    function loadProfileData() {
      IN.API.Profile("me")
        .fields(["id", "firstName", "lastName", "pictureUrl", "headline", "publicProfileUrl"])
        .result(function(result) {
          profile = result.values[0];
          profile.pictureUrl = profile.pictureUrl || "http://static01.linkedin.com/scds/common/u/img/icon/icon_no_photo_no_border_offset_100x100.png";
          profHTML = "<p><a href=\"" + profile.publicProfileUrl + "\">";
          profHTML += "<img class=img_border align=\"left\" src=\"" + profile.pictureUrl + "\"></a>";     
          profHTML += "<a href=\"" + profile.publicProfileUrl + "\">";
          profHTML += "<h2 class=myname>" + profile.firstName + " " + profile.lastName + "</a> </h2>";
          profHTML += "<span class=myheadline>" + profile.headline + "</span>";
          jQuery("#linkedin_profile").html(profHTML);
        });
    }
    
    function loadConnectionsData() {
      IN.API.Connections("me")
        .fields(["pictureUrl","publicProfileUrl"])
        .params({"count":30})
        .result(function(result) {
          profHTML = "";
          for (var index in result.values) {
              profile = result.values[index]
              if (profile.pictureUrl) {
                  profHTML += "<p><a href=\"" + profile.publicProfileUrl + "\">";
                  profHTML += "<img class=img_border height=30 align=\"left\" src=\"" + profile.pictureUrl + "\"></a>";  
              }   
          }
          jQuery("#linkedin_connections").html(profHTML);
        });
    }
    
    function loadStreamData() {
        // we pass field selectors as a single parameter (array of strings)
        IN.API.NetworkUpdates()
        .params({type:"SHAR"})
        .result(function(result) {
            var streamHTML = "";
            for (var update in result.values) {
                var thisupdate = result.values[update]
         
                // Build each individual stream update item
                person = thisupdate.updateContent.person
                var thisHTML = "<div class=streamitem>";
             
                // Person's picture,  linked name, and status
                thisHTML += "<div class=updateperson>" ;
                thisHTML += "<img class=img_border align=\"left\" height=\"50\" src=\"" + person.pictureUrl + "\"></a>";
                thisHTML += "<a href=\"" + person.publicProfileUrl + "\">";
                thisHTML += "<span class=updater>" + person.firstName + " " + person.lastName + "</a></span>"; 
                thisHTML += "<p class=update>" + person.currentShare.comment + "</p></div></div>";
 
               // Slap this onto the HTML we're building
               streamHTML += thisHTML;
            }
            jQuery("#stream").html(streamHTML);
        });
    }
    
    function searchLinkedinPeople(searchString) {
        IN.API.PeopleSearch()
         .fields("firstName", "lastName", "distance", "publicProfileUrl", "pictureUrl")
         .params({"keywords": searchString, "count": 10, "sort": "distance"})
         .result(function(result) {
            profHTML = "<h4>People search results for keyword '" + searchString + "':</h4>";
            for (var index in result.people.values) {
                profile = result.people.values[index]
                profile.pictureUrl = profile.pictureUrl || "http://static01.linkedin.com/scds/common/u/img/icon/icon_no_photo_no_border_offset_100x100.png";
                if (profile.pictureUrl) {
                    profHTML += "<p><a href=\"" + profile.publicProfileUrl + "\">";
                    profHTML += "<img class=img_border height=30 align=\"left\" src=\"" + profile.pictureUrl + "\"></a>";
                    profHTML += "<p>" + profile.firstName + " " + profile.lastName + " (" + profile.distance + ")</p>"; 
                }
            }  
            jQuery("#linkedin_search").html(profHTML);
        });  
    }
    
    jQuery(document).ready(function() {
        jQuery("#search_box_button").click(function() {
            searchLinkedinPeople(jQuery("#search_box").val());
        });
    });
 
</script>

<f:for each="{linkedinApplications}" as="linkedinApplication">
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: {linkedinApplication.appKey}
        authorize: true
    </script>
</f:for>

<div id="linkedin_profile"></div>
<div id="linkedin_connections"></div>
<div id="stream"></div>
<div id="linkedin_search_form">
  <input type="text" id="search_box" />
  <input type="button" id="search_box_button" value="Search" />
</div>
<div id="linkedin_search"></div>
<script type="IN/Login" data-onAuth="loadData"></script>

</f:section>